name: Lint Go files
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.25.5

      - name: Go mod check
        run: |
          go mod tidy
          go mod vendor
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

      - name: Run static checks
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # renovate: datasource=github-releases depName=golangci/golangci-lint
          version: v2.7.2
          # use our .golangci.yml
          args: "--verbose --modules-download-mode=vendor"
          skip-cache: true

      - name: Run the slowg linter
        run: |
          go install github.com/cilium/linters@latest
          linters -slowg ./...

      - name: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          # renovate: datasource=golang-version depName=go
          go-version-input: 1.25.5
          go-package: './...'
